In [31]:
import pandas as pd

In [32]:
import numpy as np

In [33]:
df=pd.read_csv("Dataset.csv")

In [34]:
df

,Crop,Sampling date,Plot No.,Irrigation Status,Treatments,Trmt No.,Tillage,Residue,Irrigation,Soil depth (cm),Ece (dS/m)
0,Rice,13-Jun-08,221,BI,ZT_R_25,4,2,1,1,10.0,4.483
1,Rice,13-Jun-08,221,BI,ZT_R_25,4,2,1,1,10.0,3.554
2,Rice,13-Jun-08,221,BI,ZT_R_25,4,2,1,1,20.0,1.837
3,Rice,13-Jun-08,221,BI,ZT_R_25,4,2,1,1,30.0,1.433
4,Rice,13-Jun-08,221,BI,ZT_R_25,4,2,1,1,50.0,1.574
...,...,...,...,...,...,...,...,...,...,...,...
6077,Rice,14-Jul-09,340,BI,CT_FP_AWD,8,4,5,3,10.0,0.968
6078,Rice,14-Jul-09,340,BI,CT_FP_AWD,8,4,5,3,20.0,0.685
6079,Rice,14-Jul-09,340,BI,CT_FP_AWD,8,4,5,3,30.0,0.605
6080,Rice,14-Jul-09,340,BI,CT_FP_AWD,8,4,5,3,50.0,0.625
6081,Rice,14-Jul-09,340,BI,CT_FP_AWD,8,4,5,3,80.0,0.564

In [35]:
df1=pd.get_dummies(df['Irrigation'])
df2=pd.concat([df1,df],axis=1)

In [36]:
df2

,1,2,3,Crop,Sampling date,Plot No.,Irrigation Status,Treatments,Trmt No.,Tillage,Residue,Irrigation,Soil depth (cm),Ece (dS/m)
0,1,0,0,Rice,13-Jun-08,221,BI,ZT_R_25,4,2,1,1,10.0,4.483
1,1,0,0,Rice,13-Jun-08,221,BI,ZT_R_25,4,2,1,1,10.0,3.554
2,1,0,0,Rice,13-Jun-08,221,BI,ZT_R_25,4,2,1,1,20.0,1.837
3,1,0,0,Rice,13-Jun-08,221,BI,ZT_R_25,4,2,1,1,30.0,1.433
4,1,0,0,Rice,13-Jun-08,221,BI,ZT_R_25,4,2,1,1,50.0,1.574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6077,0,0,1,Rice,14-Jul-09,340,BI,CT_FP_AWD,8,4,5,3,10.0,0.968
6078,0,0,1,Rice,14-Jul-09,340,BI,CT_FP_AWD,8,4,5,3,20.0,0.685
6079,0,0,1,Rice,14-Jul-09,340,BI,CT_FP_AWD,8,4,5,3,30.0,0.605
6080,0,0,1,Rice,14-Jul-09,340,BI,CT_FP_AWD,8,4,5,3,50.0,0.625
6081,0,0,1,Rice,14-Jul-09,340,BI,CT_FP_AWD,8,4,5,3,80.0,0.564